@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-orange: rgb(224, 165, 0);
  --clr-grey: rgb(230, 230, 230);
  --clr-white: #ffffff;
}
/*  global classes */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* color: var(--clr-orange); */
  line-height: 1.5;
}

.header {
  text-align: center;
  margin: 1.8rem 0 0.5rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  color: var(--clr-orange);
  font-weight: 500;
  margin: 0 0 0.5rem;
}

.subtitle{
  transform: translateY(-10px);
}

.graph-buttons{
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 20px 5px 5px;
}

.graph-title{
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100vw;
  text-align: center;
  padding: 5px 0;
}

/*  global classes */

.btn {
  background: var(--clr-orange);
  color: var(--clr-white);
  padding: 0.3rem 0.75rem;
  display: inline-block;
  font-size: 1.1rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin: 0 5px ;
}
.btn:hover {
  transform: translateY(-5px);
}
